body {
    background-image: linear-gradient(red, yellow);
  }
header{background-color: rgb(230, 211, 211);}
h1 {text-align: center;}
p {font: italic}
p {color: seagreen;}
img {
    border: 5px solid rgb(85, 78, 78);
  }
ul{font-family: Georgia, 'Times New Roman', Times, serif;}